<!--
 * @Descripttion: 
 * @Author: tom-z(spirit108@foxmail.com)
 * @Date: 2020-03-08 15:02:36
 * @LastEditors: tom-z(spirit108@foxmail.com)
 * @LastEditTime: 2020-04-02 23:18:57
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript">
    <%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
  </script>
</head>
<body>
  <p>dd</p>
  <div class="d3-box-svg"></div>
</body>
</html>